*.log
wp-config.php
wp-config-live.php
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/
wp-content/themes/twentysixteen

/.htaccess
/index.php
/license.txt
/readme.html
/wp-activate.php
wp-admin/
wp-includes/
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

